@using Blinkenlights.Models
@model IndexViewModel
<link rel="stylesheet" href="~/css/index.css" />
<div class="index-root" style="@Model.GridTemplateStyle">
    @foreach (var module in Model.Modules)
    {
        <div class="index-module @module.Name" data-module-name="@module.Name" style="@module.GridStyle">
            <div class="module-container">
                <div class="module-head">
                    <div class="module-header"></div>
                    <div class="module-refresh-block" data-module-name="@module.Name" data-module-endpoint="@module.Endpoint">
                        <img src="/images/refresh_icon.png" />
                    </div>
                </div>
                <div class="module-body">
                    <script type="module">
	                    import { StartModule } from "./ts-dist/ModuleStatusCommon.js";

	                    StartModule("@module.Name", "@module.Endpoint", @module.RefreshRateMs);
                    </script>
                </div>
            </div>
        </div>
    }
</div>
<script type="module" src="~/ts-dist/Index.js"></script>
