@using BlinkenLights.Models.Headlines
@model HeadlinesViewModel

@if (Model.NewYorkTimesFrontPageUs?.Any() == true)
{
	<div class="headlines-header">New York Times - US</div>
	<ul id="headlines-nyt-us">
		@foreach(var headline in Model.NewYorkTimesFrontPageUs)
		{
			<li class="headlines-article">
				@if (!string.IsNullOrWhiteSpace(headline.Url))
				{
					<a href="@headline.Url">@headline.Title</a>
				}
				else
				{
					@headline.Title
				}
			</li>
		}
	</ul>
}

@if (Model.NewYorkTimesFrontPageWorld?.Any() == true)
{
	<div class="headlines-header">New York Times - World</div>
	<ul id="headlines-nyt-world">
		@foreach(var headline in Model.NewYorkTimesFrontPageWorld)
		{
			<li class="headlines-article">
				@if (!string.IsNullOrWhiteSpace(headline.Url))
				{
					<a href="@headline.Url">@headline.Title</a>
				}
				else
				{
					@headline.Title
				}
			</li>
		}
	</ul>
}

@if (Model.WikipediaInTheNews?.Any() == true)
{
	<div class="headlines-header">Wikipedia - In The News</div>
	<ul id="headlines-wikipedia-inthenews">
		@foreach(var headline in Model.WikipediaInTheNews)
		{
			<li class="headlines-article">
				@if (!string.IsNullOrWhiteSpace(headline.Url))
				{
					<a href="@headline.Url">@headline.Title</a>
				}
				else
				{
					@headline.Title
				}
			</li>
		}
	</ul>
}