@using Blinkenlights.Models.ViewModels.Headlines;
@model HeadlinesViewModel

<div id="headlines-body">
	@if (Model.Headlines?.Any() == true)
	{
		@foreach (var headlinesContainer in Model.Headlines)
		{
			<div class="headlines-status" data-api-status="@headlinesContainer.Status" hidden>
			</div>

			@if (headlinesContainer.Categories?.Any() == true)
			{
				@foreach (var headlinesCategory in headlinesContainer.Categories)
				{
					@if (headlinesCategory?.Articles?.Any() == true)
					{
						<div class="headlines-header">@headlinesCategory.Title</div>
						<ul class="headlines-articles">
							@foreach (var headline in headlinesCategory.Articles)
							{
								<li class="headlines-article">
									@if (!string.IsNullOrWhiteSpace(headline.Url))
									{
										<a href="@headline.Url">@headline.Title</a>
									}
									else
									{
										@headline.Title
									}
								</li>
							}
						</ul>
					}
				}
			}
		}
	}
</div>

<script type="module" src="~/ts-dist/HeadlinesModule.js"></script>