@using Blinkenlights.Models.ViewModels.OuterSpace;
@model OuterSpaceViewModel

<partial name="ModuleStatus" model="@Model" />

<link rel="stylesheet" href="~/css/outerspace.css" />
<div id="outerspace-root">
	<div class="outerspace-top">
		<div class="iss-root">
			@if (!string.IsNullOrWhiteSpace(Model?.ImagePath))
			{
				<div class="iss-content">
					<img src="@Model.ImagePath" />
				</div>
				<div class="iss-update">
					<div class="iss-update-status">
						<partial name="ApiStatus" model="@Model.IssTrackerStatus" />
					</div>
					<div class="iss-update-report">ISS: @Model.Report</div>
				</div>
			}
		</div>
		<div class="outerspace-people">
			<div class="outerspace-people-title">
				<div class="">
					<partial name="ApiStatus" model="@Model.PeopleInSpace?.Status" />
				</div>
				<div class="">People in space:</div>
			</div>
			@if (Model.PeopleInSpace?.People?.Any() == true)
			{
				@foreach (var person in Model.PeopleInSpace.People)
				{
					<div class="outerspace-person">
						<div class="outerspace-person-name">@person.Name</div>
						<div class="outerspace-person-craft">@person.Craft</div>
					</div>
				}
			}
		</div>
	</div>
	<div class="outerspace-bottom">
			<div class="outerspace-people-title">
				<div class="">
					<partial name="ApiStatus" model="@Model.UpcomingRocketLaunches?.Status" />
				</div>
				<div class="">Upcoming rocket launches:</div>
			</div>
		<div class="outerspace-launches">
			@if (Model.UpcomingRocketLaunches?.Launches?.Any() == true)
			{
				@foreach (var launch in Model.UpcomingRocketLaunches.Launches)
				{
					<div class="outerspace-time">@launch.LaunchTime</div>
					<div class="outerspace-provider">@launch.Provider</div>
					<a class="outerspace-url" href="@launch.Url" target="_blank">
						<div class="outerspace-title" title="@launch.Title">@launch.Name</div>
					</a>
					<div class="outerspace-provider">@launch.Location</div>
				}
			}
		</div>
	</div>
</div>
<script type="module" src="~/ts-dist/OuterSpaceModule.js"></script>