@using Blinkenlights.Models.ViewModels.Slideshow;
@model SlideshowViewModel

<partial name="ModuleStatus" model="@Model" />

<link rel="stylesheet" href="~/css/slideshow.css" />

<div id="slideshow-root">
	@if (Model.Frames != null)
	{
		@foreach (var frame in Model.Frames)
		{
			<div class="frame">
				<a class="frame-url" href="@frame.Url" target="_blank">
					<div class="frame-inner">
						<div class="frame-image">
							<img src="@frame.Source" alt="@frame.Subtitle">
						</div>
						<div class="frame-caption">
							<div>@frame.Title</div>
							<div>@frame.Subtitle</div>
						</div>
					</div>
				</a>
			</div>
		}
	}
</div>

<script type="module" src="~/ts-dist/SlideshowModule.js"></script>