@using Blinkenlights.Models.ViewModels.Stock;
@model StockViewModel

<partial name="ModuleStatus" model="@Model" />

<link rel="stylesheet" href="~/css/Stock.css" />
<div id="fin-root">
	@if (Model?.Data?.Any() == true)
	{
		foreach(var dataRow in Model.Data)
		{
			<div class="fin-data">
				<div class="fin-table">
					<div class="fin-symbol">
						@dataRow.Symbol
					</div>
					<div class="fin-price">
						@dataRow.Price
					</div>
				</div>
				<div class="fin-graph-block">
					<div class="finance-block" data-finance-symbol="@dataRow.Symbol" data-finance-graph="@dataRow.SerializePoints()">
						<div class="finance-axis" id="finance-axis-@dataRow.Symbol"></div>
					</div>
				</div>
			</div>
		}

	}
	@if (Model.CurrencyData?.Any() == true)
	{
		foreach (var dataRow in Model.CurrencyData)
		{
			<div class="cur-data">
				<div class="cur-table">
					<div class="fin-symbol">
						@dataRow.Symbol
					</div>
					<div class="fin-price">
						@dataRow.Price
					</div>
				</div>
			</div>
		}
	}
</div>

<script type="module">
	import { RefreshStockModule } from "./ts-dist/StockModule.js";

	RefreshStockModule();
</script>