@using Blinkenlights.Models.ViewModels.Time;
@model TimeViewModel

<link rel="stylesheet" href="~/css/time.css" />

<partial name="ModuleStatus" model="@Model" />

<div id="time-root">
	@if (Model.TimeZoneInfos?.Any() == true) 
	{
		<div id="time-worldclock" class="time-block">
			@foreach(var tzInfo in Model.TimeZoneInfos) 
			{
				<div class="time-worldclock-row time-row">
					<div class="time-worldclock-city">@tzInfo.Key</div>
					<div class="time-worldclock-time" offset="@tzInfo.Value"></div>
				</div>
			}
		</div>
	}

	@if (Model.TimeZoneInfos?.Any() == true && Model.CountdownInfos?.Any() == true)
	{
		<div id="time-divider"></div>
	}

	@if (Model.CountdownInfos?.Any() == true)
	{
		<div id="time-countdown" class="time-block">
		@foreach(var countdownInfo in Model.CountdownInfos) 
		{
			<div class="time-countdown-row time-row">
				<div class="time-countdown-name">@countdownInfo.Value</div>
				<div class="time-countdown-remaining" endDate="@countdownInfo.Key"></div>
			</div>
		}
		</div>
	}
</div>

<script type="module" src="~/ts-dist/TimeModule.js"></script>