@using Blinkenlights.Models.ViewModels.Utility;
@model UtilityViewModel

@{
	var mehStatus = string.IsNullOrWhiteSpace(Model?.MehData?.Status) ? "Failed to get API status" : Model.MehData.Status;
	var pkgStatus = string.IsNullOrWhiteSpace(Model?.PackageTrackingData?.Status) ? "Failed to get API status" : Model.PackageTrackingData.Status;
}

<div id="meh-status" data-api-status="@mehStatus" hidden>
</div>
<div id="pkgtrack-status" data-api-status="@pkgStatus" hidden>
</div>

@if (Model.MehData != null) {

	@if (!string.IsNullOrWhiteSpace(Model.MehData.Title))
	{
		<div id="meh-block">
			<div id="meh-title-block">
				<div id="meh-title">@Model.MehData.Title</div>
			</div>
			<a id="meh-url" href="@Model.MehData.Url" target="_blank"></a>
		</div>
	}
}

@if (Model.PackageTrackingData != null)
{
	@if (Model.PackageTrackingData.Packages?.Any() == true)
	{
		foreach(var package in Model.PackageTrackingData.Packages)
		{
			<div id="pkgtrack-block">
				<div id="pkgtrack-row">
					<div id="pkgtrack-title">@package.Status</div>
				</div>
				@if(!string.IsNullOrEmpty(package.Url))
				{
				<a id="pkgtrack-url" href="@package.Url" target="_blank"></a>
				}
			</div>
		}
	}
}

<script type="module" src="~/ts-dist/UtilityModule.js"></script>